[Unit]
Description=pinkcandy qqbot
After=network.target


[Service]

# 工作目录
WorkingDirectory=/home/pinkcandy-qqbot/bot

# 启动
# ExecStart=/usr/bin/python3 /home/pinkcandy-qqbot/bot/main.py
Environment=PATH=/home/pinkcandy-qqbot/bot/venv/bin:$PATH
ExecStart=/home/pinkcandy-qqbot/bot/venv/bin/python /home/pinkcandy-qqbot/bot/main.py

# 重启
Restart=always
RestartSec=10s


[Install]
WantedBy=multi-user.target
